:root {
  --default: #FFF;
  --primaryTheme: #EC4C7A;
  --primaryThemeHover: #ffebf1;
  --primaryInverse: #797979;
  --secondaryTheme: #FEE234;
  --secondaryInverse: #e2e8f0;
  --highlight: #3097E2;
  --highlightHover: #f1f9ff;
  --background: #fafafa;
}
